<div class="games">
  {{#each games}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/games/{{id}}">{{title}}</a>
      </h2>
    </div>
  </article>
  {{/each}}
</div>