<div class="games">
  {{#each games}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/games/">{{title}}</a>
      </h2>
      <div>
        
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>