<div class="games card">
  <div class="card-header">
    <h2>Edit Games</h2>
  </div>
  <form id="edit-games-form" class="card-body">
    <input type="hidden" name="games-id" value="{{games.id}}" />

    <label class="form-label" for="games-title">Title</label>
    <input type="text" name="games-title" value="{{games.title}}" class="form-input" />

    <label class="form-label" for="games-body">Content</label>
    <textarea name="games-body" class="form-input">{{games.body}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/javascript/edit.js"></script>