<h2>Login:</h2>
<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" placeholder="Email"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" placeholder="Password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<br><br>
<h2>Register:</h2>
<form class="register-form">
    <div>
        <label for="username-register">Username:</label>
        <input type="text" id="username-register" placeholder="Username"/>
    </div>
    <div>
        <label for="email-register">Email:</label>
        <input type="text" id="email-register" placeholder="Email"/>
    </div>
    <div>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register" placeholder="Password"/>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>


<script src="/javascript/login.js"></script>