<div class="game card">
  <div class="card-header">
    <h2>Add New Game</h2>
  </div>
  <form id="new-game-form" class="card-body">

    <label class="form-label" for="game-title">Game Title</label>
    <input list="games" name="game-title" class="form-input" placeholder="Game Title" />

    <datalist id="games">
      {{#each games}}
      <option value="{{name}}" />
      {{/each}}
    </datalist>

    <button type="submit" class="btn">Add</button>
  </form>
</div>

<script src="/javascript/new.js"></script>